<footer class="footer-wrapper module footer">
  <table class="total_table" border="0">
    <tbody>
      <tr class="fssize">
        <td>
          Questions? Call <%= site_short_name %> at 1-877-MA-ENROLL or go online to <a href="#{Settings.site.ma_website}"><%= Settings.site.ma_website %>/</a>
        </td>
      </tr>
    </tbody>
  </table>      
</footer>