<% render 'broker_agencies/profiles/menu', active_tab: "employers-tab" %>

<div class="employer-prospect-form-content top-pd">
  <div class="tab-row">
    <div class="tab-content" id="myTabContent">
      <%= render 'new' %>
    </div>
  </div>
</div>
