<div class='container'>
  <h1>Employers</h1>
  <%= link_to "Create Employer Paper Application", new_exchanges_employer_path, remote: true %>
</div>

<%= render_datatable(@datatable) %>

<script type="text/javascript" charset="utf-8">
  initializeDataTables();
</script>
