<!DOCTYPE html>
<html>
<head>
  <title>EnrollCore</title>
  <%= stylesheet_link_tag    "enroll_core/application", media: "all" %>
  <%= javascript_include_tag "enroll_core/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
