<div class="content landing">
	<%= render "exchanges/hbx_profiles/shared/primary_nav", :active_tab => "employers-tab" %>

  <div class="home">
		<%= render 'shared/tab_panel' %>
	</div>
</div>

<script>
  $('#inbox.tab-pane-hbx .col-xs-12').html(("<%= escape_javascript render "employer_form"%>"))
</script>
