<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<h1>Benefit Package - Set Up</h1>
		<div class="module benefit-properties">
			<div class="row row-form-wrapper no-buffer plan-title">
				<div class="col-xs-12 form-group form-group-lg">
					<label class="title">NAME YOUR BENEFIT PACKAGE</label>
					<input class="form-control" required="true" [name]="titleFieldName()" [(ngModel)]="bg.title"/>
				</div>
			</div>
			<div class="row row-form-wrapper no-buffer description">
				<div class="col-xs-12 form-group form-group-lg">
					<label class="title">DESCRIPTION</label>
					<input class="form-control" [name]="descriptionFieldName()" [(ngModel)]="bg.description"/>
				</div>
			</div>
			<div class="row row-form-wrapper no-buffer">
				<div class="col-xs-12 form-group form-group-lg">
					<!-- Offset :  -->
					<label class="title">WHEN SHOULD NEWLY HIRED EMPLOYEES START THEIR COVERAGE? <!--<i class="fa fa-chevron-down"></i>--></label>
					<select class="no-selectric form-control" [name]="effectiveOnFieldName()" required="true" [(ngModel)]="bg.effective_on_offset">
						<option value="0">First of the month following or coinciding with date of hire</option>
						<option value="30">First of the month following 30 days</option>
						<option value="60">First of the month following 60 days</option>
					</select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<span class="starter" style="display: inline-block;">
					<h1>Health – Set Up Benefit Package</h1>
					<div class="col-xs-9" style="padding-left:0px !important">
						<h4>Let's start by creating a benefit package. As you complete the fields below, you can scroll up or down to change your choices at any time to see how it impacts your costs.</h4>
					</div>
				</span>
			</div>
		</div>

		<h1>Select Your Plan Offering</h1>
		<h4 style="max-width: 660px;">Let your plan participants choose any plan offered by one carrier, any plan available within a specific metal level or you can offer just one plan. It doesn't cost you more to let them choose by carrier (insurance company) or metal level.</h4>
		<div class="row">
			<div class="col-xs-12">
				<ul class="nav nav-tabs">
					<li role="presentation" [class]="selectedHealthPillClassFor('single_carrier')">
						<a>
						<label [for]="planOptionKindRadioIdFor('single_carrier')">
							<input type="radio" [(ngModel)]="bg.plan_option_kind" (change)="bg.selectCarriers()" [id]="planOptionKindRadioIdFor('single_carrier')" value="single_carrier" [attr.name]="planOptionKindRadioName()">
						By carrier
						</label>
						</a>
					</li>
					<li role="presentation" [class]="selectedHealthPillClassFor('metal_level')">
						<a>
						<label [for]="planOptionKindRadioIdFor('metal_level')">
							<input type="radio" value="metal_level" [(ngModel)]="bg.plan_option_kind" [attr.name]="planOptionKindRadioName()" [id]="planOptionKindRadioIdFor('metal_level')"/>
						By metal level 
						</label>
						</a>
					</li>
					<li role="presentation" [class]="selectedHealthPillClassFor('sole_source')">
						<a>
						<label [for]="planOptionKindRadioIdFor('sole_source')">
						<input type="radio" value="sole_source" [attr.name]="planOptionKindRadioName()" [id]="planOptionKindRadioIdFor('sole_source')" [(ngModel)]="bg.plan_option_kind" (change)="bg.selectCarriers()" /> 
						Sole source
						</label>
						</a>
					</li>
				</ul>
				<div class="row panel" [hidden]="!bg.showMetalLevelSelection()">
					<h4>Select your preferred metal level. Your plan participants will be able to choose any plan by any carrier within the metal level you select. Your costs will be fixed to a specific plan you’ll choose in a minute. Bronze means the plan is expected to pay 60% of expenses for an average population of consumers, Silver 70%, Gold 80% and Platinum 90%.</h4>
					<div class="col-xs-12">
						<div class="row">
								<label class="radio">
									<input type="radio" value="silver" [(ngModel)]="bg.metal_level_for_elected_plan" attr.name="benefit_groups_attributes[][metal_level_for_elected_plan]"/> Silver
								</label>
						</div>
					</div>
				</div>
				<div class="row panel" [hidden]="!bg.showCarrierSelection()">
					<h4>Select your preferred insurance company carrier. Your plan participants will be able to choose any plan offered by the carrier you select. Your costs will be fixed to a specific plan you’ll choose in a minute.</h4>
							<div *ngFor="let ac of bg.offered_carriers" class="col-xs-12">
								<label [for]="healthCarrierSelectionRadioIdFor(ac)">
									<input type="radio"
		                                                        (change)="bg.selectPlans()"
		                                                        [(ngModel)]="bg.carrier_for_elected_plan"
		                                                        [attr.name]="healthCarrierSelectionRadioName()"
		                                                        [attr.id]="healthCarrierSelectionRadioIdFor(ac)"
								       	[value]="ac._id" />{{ac.legal_name}}
								</label>
							</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-sm-12 col-xs-12" *ngIf="showHealthPlanSelection()">
		<h2>Select Your Reference Plan</h2>
		<h4 style='position: relative;' class='row'><span class='starter' style='display: inline-block;'>Now select a reference plan. The reference plan is used to cap employer costs. You’ll choose a reference plan. Then, your contribution towards employee premiums will be applied to the reference plan you choose regardless of which plans your employees select. After you select your reference plan, scroll down to review your costs.</span></h4>
		<div class="row">
			<div class="col-xs-12 panel">
				<div class="row">
					<div *ngFor="let p of bg.offered_plans" class="col-xs-3">
						{{p.name}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
