/* Footer */

footer {
  color: $primary-white;
  background-color: $primary-blue;
  padding: 15px;
  font-size: 14px;
  bottom: 0;
  height: 60px;
  position: absolute;
  width: 100%;
    a {
      color: $primary-white;
    }
  }