<div class="modal" id="publishPlanYear" tabindex="-1" role="dialog" role="document">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"> Application may be ineligible! </h4>
      </div>
      <div class="modal-body">
        <p>
           If you submit this application as is, the small business application may be ineligible for coverage through the <%= Settings.site.short_name %> because it does not meet the eligibility reason(s) identified below:
        </p>
        <ul class="application-warnings"></ul>
        <p class= "warning-para" ></p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Publish Anyways', employers_employer_profile_plan_year_force_publish_path(@employer_profile,plan_year), method: :post, :class => 'btn btn-danger' %>
        <% error_page = plan_year.application_eligibility_warnings[:primary_office_location].present? ? edit_employers_employer_profile_path(@employer_profile, plan_year_id: plan_year.id) : edit_employers_employer_profile_plan_year_path(@employer_profile,plan_year, publish: true) %>
        <%= link_to 'Cancel', error_page, method: :get, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>
