<div class="calendar-container">
  <div class="col-md-12">
    <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#createCalendar">Create Calendar</button>
  </div>
  <div class="col-md-3">
    <% @available_calendars.each_with_index do |calendar, i| %>
    <label class="list-container">
      <%= calendar.name %>
      <%= check_box_tag 'calendar_names', 'calendar_names', false, data: { id:calendar.id.to_s, name:calendar.name, color:calendar_color_picker(i) }  %>
      <span class="checkmark"></span>
    </label>
    <% end %>
    <br />
    <div class="events-menu col-md-3"></div>
  </div>
  
  <div class="col-md-9">
    <% if @available_calendars.size == 0 %>
    Create a calendar to enter events
    <% else %>
    <div id="calendar"></div>
    <% end %>
  </div>
</div>

<!-- Create Calendar Modal -->
<div class="modal fade" id="createCalendar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
        <%= render 'calendar_form' %>
  </div>
</div>

<!-- Create Event Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="event-modal" style="z-index:1">
  <div class="modal-dialog cal-event-modal" role="document">
    <%= render 'exchanges/scheduled_events/new' %>
  </div>
</div>
