<div id="create_event">
  <div id="schedules_event_form">
    <%= form_for scheduled_event, as: :scheduled_event, html: { class:'form-horizontal' }, url: {action: "create"}, remote: true do |f| %>
      <%= render "modal_event_form", f: f %>
    <% end %>
  </div>
</div>
